.container {
	position: fixed;
	width: 25%;
    top: 0vh;
	height: 100vh;
	left: 75%;

    display: flex;
    justify-content:left;
    align-items: center;
}

.area{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 40px);

    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
