.players {
	position: relative;
	display: block;
	width: 100%;
	height: 4.5%;
    min-height: 25px;
	margin: 0;
	padding: 0;
	border-top-left-radius: 10px;
	background-color: #9847ee;
}

.topBar{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

    font-family: 'Fredoka';
    font-weight: 900;
    font-size: 1.2rem;
    color: black;
}

.spectators{
    position: absolute;

    left:5%;
}

.players_title {
    position: absolute; 

	margin: 0;
	border: none;
	width: fit-content;
	height: 4.5%;
	border-top-left-radius: 10px;
	background-color: #9847ee;
	
    font: inherit;

	--up-arrow: '\25B2';
	--down-arrow: '\25BC';

    z-index: 1;
}
.players_title.close::before,
.players_title.close::after {
	content: var(--down-arrow);
}

.players_title.open::before,
.players_title.open::after {
	content: var(--up-arrow);
}

.players_title:hover {
	cursor: pointer;
}

.players.open {
	animation: playerListOpen 250ms forwards;
}
.players.close {
	animation: playerListClose 250ms forwards;
}

@keyframes playerListOpen {
	0% {
		height: 4.5%;
	}
	100% {
		height: 25%;
	}
}

@keyframes playerListClose {
	0% {
		height: 25%;
	}
	100% {
		height: 4.5%;
	}
}

.player_list {
    position: relative;
    top: 10%;
    height:90%;

	font-family: 'Baloo Bhaijaan 2';
	font-weight: 450;
	font-size: 1.2rem;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fill, auto);

    overflow-y: auto;
}
.playerName,
.spectatorName,
.hostName {
	margin: 5px;
	color: white;
}

.hostName:before {
	content: '\1F451';
}
.spectatorName:after{
    color:aqua;
    content: '\1F441';
}

.player_list.close,
.player_list.close .playerName,
.player_list.close .spectatorName,
.player_list.close .hostName {
	animation: listFadeOut 250ms forwards;
}

.player_list.open,
.player_list.close .playerName,
.player_list.close .spectatorName,
.player_list.close .hostName{
	animation: listFadeIn 250ms forwards;
}

@keyframes listFadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes listFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 950px) {
    .player_list {
        grid-template-columns: repeat(1, 1fr);
    }
}

