.navbar {
	position: sticky;
	width: 100vw;
	height: 10vh;
	background-color: transparent;

	display: flex;
    flex-direction: row;
	justify-content: center;
    align-items: flex-end;
}

.title {
    min-width: 150px;
	width: 20%;
	height: fit-content;
	padding: 0;

	font-family: 'Alegreya Sans SC', sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size:3rem;
	text-align: center;

	color: var(--clr-heliotrope);

	border: 1px solid var(--clr-pink);

	background: transparent;
	box-shadow: 0px 6px 0px -2px var(--clr-pink);

}

.link {
    width: fit-content;
    height: auto;
    padding: 5px;
    padding-bottom: 3px;
    margin-left: 10px;

	font-family: 'Baloo Bhaijaan 2';
	font-size: 1rem;
	font-weight: bold;

	background-color: transparent;
	color: var(--clr-not-white);
	border: 1px solid var(--clr-pink);

	transition: background, border 250ms;
}
.link:hover {
	background: var(--clr-russian-violet);
	border-color: var(--clr-heliotrope);
}
.link:active {
	transform: scale(1.7);
}

@media only screen and (max-height: 500px) {
    .navbar {
        height: 5vh;
        min-height: 40px;
    }
    .title {
        font-size:2.5rem;        
    }
}
